In [1]:
import pandas as pd
from fastparquet import write, ParquetFile
import numpy as np
import os, sys
import io
import requests
if os.path.split(os.getcwd())[-1] != 'synthera-client':
    os.chdir(os.path.join(os.getcwd(), '..'))

sys.path.append(os.path.join(os.getcwd(), 'api'))

## Synthera AI Python Library

In [2]:
import synthera

In [3]:
request = {
    'request': {
        'no_of_days': 60,
        'no_of_samples': 512,
        'reference_date': '2010-01-01',
        'yield_curve_names': [
            'Germany',
            'France',
            'UnitedStates',
            'Russia'
        ],
    },
}

api_address = "<API link here>"

In [4]:
response, status_code = synthera.simulations.fixed_income.simulation_past_date(api_key=123, request=request, api_address=api_address)

if status_code == 200:
    simulation_data, meta_data = response
else:
    simulation_data, meta_data = {}, {}

API response code: 200

In [5]:
simulation_data.get('numpy_array', np.array([])).shape

(512, 4, 60, 42)

In [6]:
simulation_data.keys()

dict_keys(['Germany', 'France', 'UnitedStates', 'Russia', 'numpy_array', 'column_names'])

In [7]:
simulation_data.get('column_names')

['IDX',
 'SAMPLE',
 'FX-SPOT',
 'FX_FW-0.5',
 'FX_FW-1.5',
 'FX_FW-2.5',
 'FX_FW-3.5',
 'FX_FW-4.5',
 'FX_FW-6.0',
 'FX_FW-7.0',
 'FX_FW-8.0',
 'FX_FW-9.0',
 'FX_FW-10.0',
 'FX_FW-10.5',
 'FX_FW-11.0',
 'FX_FW-11.5',
 'FX_FW-12.0',
 'FX_FW-12.5',
 'FX_FW-13.0',
 'FX_FW-13.5',
 'FX_FW-14.0',
 'FX_FW-14.5',
 'YC-0.5',
 'YC-1.5',
 'YC-2.5',
 'YC-3.5',
 'YC-4.5',
 'YC-6.0',
 'YC-7.0',
 'YC-8.0',
 'YC-9.0',
 'YC-10.0',
 'YC-10.5',
 'YC-11.0',
 'YC-11.5',
 'YC-12.0',
 'YC-12.5',
 'YC-13.0',
 'YC-13.5',
 'YC-14.0',
 'YC-14.5',
 'date']

In [8]:
simulation_data.get('Germany')

,IDX,SAMPLE,FX-SPOT,FX_FW-0.5,FX_FW-1.5,FX_FW-2.5,FX_FW-3.5,FX_FW-4.5,FX_FW-6.0,FX_FW-7.0,...,YC-10.5,YC-11.0,YC-11.5,YC-12.0,YC-12.5,YC-13.0,YC-13.5,YC-14.0,YC-14.5,date
0,2009-12-07,0,1.046875,1.046875,1.046875,1.046875,1.046875,1.046875,1.046875,1.046875,...,0.031982,0.031738,0.031494,0.031006,0.030640,0.030029,0.029419,0.028931,0.028320,2009-12-07
1,2009-12-08,0,1.062500,1.062500,1.062500,1.062500,1.062500,1.062500,1.062500,1.062500,...,0.031494,0.031494,0.031250,0.030884,0.030396,0.029907,0.029419,0.028809,0.028320,2009-12-08
2,2009-12-09,0,1.054688,1.054688,1.054688,1.054688,1.054688,1.054688,1.054688,1.054688,...,0.031494,0.031494,0.031128,0.030884,0.030396,0.029907,0.029419,0.028809,0.028320,2009-12-09
3,2009-12-10,0,1.054688,1.054688,1.054688,1.054688,1.054688,1.054688,1.054688,1.054688,...,0.031982,0.031738,0.031494,0.031128,0.030640,0.030151,0.029541,0.028931,0.028320,2009-12-10
4,2009-12-11,0,1.062500,1.062500,1.062500,1.062500,1.062500,1.062500,1.062500,1.062500,...,0.031982,0.031982,0.031738,0.031250,0.030762,0.030151,0.029541,0.028931,0.028442,2009-12-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30715,2010-02-01,511,1.031250,1.031250,1.031250,1.031250,1.031250,1.031250,1.031250,1.031250,...,0.033447,0.030518,0.032715,0.029907,0.031494,0.029541,0.029907,0.028687,0.028442,2010-02-01
30716,2010-02-02,511,1.031250,1.031250,1.031250,1.031250,1.031250,1.031250,1.031250,1.031250,...,0.033447,0.030518,0.032715,0.029907,0.031494,0.029419,0.029907,0.028687,0.028442,2010-02-02
30717,2010-02-03,511,1.023438,1.023438,1.023438,1.023438,1.023438,1.023438,1.023438,1.023438,...,0.033447,0.030518,0.032715,0.029907,0.031494,0.029419,0.029907,0.028564,0.028442,2010-02-03
30718,2010-02-04,511,1.031250,1.031250,1.031250,1.031250,1.031250,1.031250,1.031250,1.031250,...,0.033447,0.030518,0.032715,0.029785,0.031494,0.029419,0.029907,0.028564,0.028442,2010-02-04
30719,2010-02-05,511,1.031250,1.031250,1.031250,1.031250,1.031250,1.031250,1.031250,1.031250,...,0.033447,0.030396,0.032715,0.029785,0.031494,0.029419,0.029907,0.028564,0.028320,2010-02-05

In [9]:
meta_data

{'reference_date': '2010-01-01',
 'universe_available': {'Australia': 'AUD',
  'Canada': 'CAD',
  'France': 'EUR',
  'Germany': 'EUR',
  'India': 'INR',
  'Italy': 'EUR',
  'Japan': 'JPY',
  'Russia': 'RUB',
  'SouthKorea': 'KRW',
  'Spain': 'EUR',
  'UnitedKingdom': 'GBP',
  'UnitedStates': 'USD'}}